<div class="row center-block">
  <div class="col-lg-offset-2 col-lg-7 col-md-offset-2 col-md-7  col-sm-offset-1 col-sm-9 ">
    <form class="form-horizontal" role="form">
      <div class="form-group add-topic">
        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-3  control-label">Topic:</label>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9">
          <p class="topic">Barac Obama</p>
        </div>
      </div>
      <div class="form-group">
        <label for="title" class="col-lg-4  col-md-4 col-sm-4 control-label">Story title:</label>

        <div class="col-lg-8  col-md-8 col-sm-8 ">
          <input class="form-control" id="title">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-lg-4 col-md-4 col-sm-4 control-label">Story Description:</label>

        <div class="col-lg-8 col-md-8 col-sm-8">
          <textarea class="form-control" rows="9" id="description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="source" class="col-lg-4 col-md-4 col-sm-4 control-label">Sourse:</label>

        <div class="col-lg-8 col-md-8 col-sm-8">
          <input class="form-control" id="source">

          <p class="add-new-source"><span><a href="#"> + Add Another Source</a></span></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn-submit form-control">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>