a {
    text-decoration:none !important;
}

.lsidebar a:link {
    font-weight: bold;
}

.lsidebar a:hover {
    color: lightgray !important;
}

.lsidebar a:visited {
    color: #999999;
    font-weight: normal;
    font-size: 20px;
}

a.btn-story {
    color: black !important;
    margin-left:5%;
    width:85%;
}

a.btn-story:hover {
    color: floralwhite;
}

a.btn-edit {
    color: black;
}

.story-date {
    color: #999999;
    margin-top: -5%;
}

a.btn-more {
    color: #333333 !important;
    width: 100%;
}

a.btn-more:hover {
    color: black !important;
}

