<div id="wrapper">
  <%= render partial: "lsidebar_topics", locals: {topics: @topics} %>
  <%= render partial: "stories_table" %>
</div>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
