<div class="container container-story">
  <div class="title-header text-center">
    <h1><%= @topic.try(:title) %></h1>

    <p><%= t("timeline") %></p>
  </div>

  <% if @topic.present? && @topic.try(:id).try(:present?) %>
  <div class=" text-center">
    <%= button_to t("story.add").try(:upcase), new_topic_unconfirmed_story_path(@topic), method: "get", class: "pull-right btn-edit" %>
  </div>
  <% end %>

  <%= render partial: "shared/timeline" %>

</div>
