<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        <%=t(:topics)%>
      </a>
    </li>
    <% @topics = topics %>
    <% if @topics.present? && @topics.any? %>
        <% @topics.each do |item| %>
            <li>
              <%= link_to "Topic #{item.title}", topic_path(item) %></a>
            </li>
        <% end %>
    <% else %>
    <%=t("no_topics")%>
    <% end %>
  </ul>
</div>
<!-- /#sidebar-wrapper -->