<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <h4><%= link_to "<< Topics", root_path %></h4>
      <!--<a href="#">Barack Obama Updates</a>-->
    </li>

    <li class="sidebar-brand">
      <a href="#">
        Stories
      </a>
    </li>

    <% if @stories.present? && @stories.any? %>
        <% @stories.each do |item| %>
            <li>
              <%= link_to item.title, topic_story_path(@topic, item) %>
            </li>
        <% end %>
    <% else %>
        <%=t(:no_stories_of_the_topic)%> "<%=t(@topic.try(:title) || t(:no_topic) )%>"
    <% end %>
  </ul>
</div>
<!-- /#sidebar-wrapper -->