<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">All Stories</a>

        <p align="right">

          <a href="#" class="btn btn-success" role="button">New Story</a>
          <a href="#" class="btn btn-primary" role="button">Edit Story</a>
          <a href="#" class="btn btn-default" role="button">Next Story</a>
        </p>
        <div class="thumbnail text-center">
          <h3>Story No 1 Details (<%=Time.now%>)</h3>

          <img src="http://media.jrn.com/images/640*360/Generic+President+Barack+Obama+Smiling.jpg"/>

          <div class="caption">

            <p><%= "Story Description "*100 %></p>

            <!--<p><a href="#">link to source 1</a></p>-->
            <!--<p><a href="#">link to source 2</a></p>-->
            <!--<p><a href="#">link to source 3</a></p>-->
            <p>
              <a href="#" class="btn btn-primary" role="button">Edit</a>
              <a href="#" class="btn btn-default" role="button">Next Story</a>
            </p>
          </div>
        </div>

        <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
        <!--<h3>Story Details</h3>-->
        <!--</div>-->
        <!--<div class="panel-body text-center">-->
        <!--<p><img src="http://media.jrn.com/images/640*360/Generic+President+Barack+Obama+Smiling.jpg" /></p>-->
        <!--<p><%= "Story Description "*100 %> </p>-->
        <!--</div>-->

        <!--<div class="panel-footer">-->
        <!--<p><a href="#">link to source 1</a></p>-->
        <!--<p><a href="#">link to source 2</a></p>-->
        <!--<p><a href="#">link to source 3</a></p>-->
        <!--</div>-->
        <!--</div>-->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Source</h3>
          </div>
          <div class="panel-body">
            <p><a href="#">link to source 1</a></p>

            <p><a href="#">link to source 2</a></p>

            <p><a href="#">link to source 3</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->