<div id="wrapper">
  <%= render partial: "home/lsidebar_topics" %>
  <%= render partial: "home/stories_table" %>
</div>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
